/* theoremstyle: plain */
.theorem, .lemma, .proposition, .corollary {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}
.proposition:before {
    content: "Proposition.";
    font-weight: bold;
    font-style: normal;
}
.corollary:before {
    content: "Corollary.";
    font-weight: bold;
    font-style: normal;
}
/* theoremstyle: definition/remark/proof */
.definition, .conjecture, .example, .postulate, .problem, .remark, .note, .case, .proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
/* theoremstyle: definition */
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}
.conjecture:before {
    content: "Conjecture.";
    font-weight: bold;
    font-style: normal;
}
.example:before {
    content: "Example.";
    font-weight: bold;
    font-style: normal;
}
.postulate:before {
    content: "Postulate.";
    font-weight: bold;
    font-style: normal;
}
.problem:before {
    content: "Problem.";
    font-weight: bold;
    font-style: normal;
}
/* theoremstyle: remark */
.remark:before {
    content: "Remark.";
    font-style: italic;
}
.note:before {
    content: "Note.";
    font-style: italic;
}
.case:before {
    content: "Case.";
    font-style: italic;
}
/* proof */
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FB";
    float:right;
}